<h1>Posts#new</h1>

<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= label :image_url, "Picture URL:" %>
  <%= f.text_field :image_url %>
  <%= f.submit %>
<% end %>
